html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body.dark {
  background-color: #1a1a1a;
  color: white;
}

main {
  flex: 1;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer {
  margin-top: auto;
  background-color: yellow;
  color: white;
  text-align: center;
  padding: 20px;
}

// Box Sizing Utilities
.box-border {
  box-sizing: border-box;
}

.box-content {
  box-sizing: content-box;
}


// _float.scss
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-start {
  float: inline-start;
}

.float-end {
  float: inline-end;
}

.float-none {
  float: none;
}

// Position Utilities
.position-static   { position: static; }
.position-fixed    { position: fixed; }
.position-absolute { position: absolute; }
.position-relative { position: relative; }
.position-sticky   { position: sticky; }
