  .component-preview {
    margin-top: 2rem;
  
    .card {
      margin-bottom: 1rem;
    }
  
    .code-box {
      background-color: yellowgreen;
      border: 1px solid #334155;
      border-radius: 8px;
      padding: 0.5rem;
      font-family: 'Courier New', Courier, monospace;
      color: #e2e8f0;
      overflow-x: auto;
  
      code {
        white-space: pre-wrap;
        display: block;
        color: #e2e8f0;
        line-height: 1.6;
      }
    }
  }